@use "src/assets/styles/colors";
//Common Container
.containerDesktop{
  margin: auto;
  width: 1344px;
}
.containerTablet{
  margin: auto;
  width: 772px;
}
.containerMobile{
  margin: auto;
  width: 340px;
}

//Catalog List
.listDesktop {
  display: grid;
  grid-auto-flow: row dense;
  grid-template-columns: 200px 200px 200px 200px 200px;
  grid-template-rows: 230px 230px 230px 230px;
  gap: 24px 86px;
  grid-template-areas:
    "Slider Slider Slider . ."
    "Slider Slider Slider . ."
    "Search Search Search Search Search"
    ". . . . .";
  .Search { grid-area: Search; display: none }
  .Slider { grid-area: Slider; }
}
.listTablet {
  display: grid;
  grid-auto-flow: row dense;
  grid-template-columns: 200px 200px 200px;
  grid-template-rows: 230px 230px 230px 1fr;
  gap: 24px 86px;
  grid-template-areas:
    "Slider Slider ."
    "Slider Slider ."
    "Search Search Search"
    ". . .";
  .Search { grid-area: Search;
    display: none; }
  .Slider { grid-area: Slider; }
}

.listMobile {
  display: grid;
  grid-auto-flow: row dense;
  grid-template-columns: 150px 150px;
  grid-template-rows: 280px 50px 1fr;
  gap: 24px 40px;
  grid-template-areas:
    "Slider Slider"
    "Search Search"
    ". .";
  .Search { grid-area: Search;}
  .Slider { grid-area: Slider; }
}