@use "src/assets/styles/colors";
.wrapper{
  margin: 12px 0;
}

.image_desktop{
  width: 210px;
  height: 210px;
  border-radius: 12px;
}
.image_tablet{
  width: 190px;
  height: 190px;
  border-radius: 10px;
}

.info_container_desktop{
  border-radius: 12px;
  background: white;
  padding: 16px 25px;
  width: 100%;
  height: 210px;

  box-sizing: border-box;
  margin-left: 8px;
  position: relative;
}
.info_container_tablet{
  border-radius: 12px;
  background: white;
  padding: 12px 20px;
  width: 100%;
  height: 190px;

  box-sizing: border-box;
  margin-left: 8px;
  position: relative;
}
.info_container_mobile{
  border-radius: 12px;
  background: white;
  padding: 12px 20px;
  width: 100%;
  height: 190px;

  box-sizing: border-box;
  position: relative;
}

.actionsContainer{
  position: absolute;
  z-index: 120;
  right: 0;
  top: 38px;
  border: 2px solid colors.$brand;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.first_button{
  text-align: left;
  border-top-left-radius: 12px;
  border: none;
  border-bottom: 1px solid colors.$primary;
  width: 150px;
  padding: 10px 20px;
}

.first_button:hover, .button:hover, .last_button:hover{
  background: #D9D9D9;
}
.button{
  text-align: left;
  border: none;
  border-bottom: 1px solid colors.$primary;
  width: 150px;
  padding: 10px 20px;
}
.last_button{
  text-align: left;
  color: colors.$error;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border: none;
  width: 150px;
  padding: 10px 20px;
}

.field_desktop{
  display: flex;
  margin-bottom: 10px;
}
.field_tablet{
  display: flex;
  margin-bottom: 4px;
}