.wrapper_desktop{
  background: white;
  padding: 12px;
  display: flex;
  border-radius: 7px;
  align-items: center;
  box-sizing: border-box;
  position: relative;
}
.rating{
  position: absolute;
  top: 12px;
  right: 8px;
}