@use "src/assets/styles/colors";

.container{
  display: flex;
  flex-direction: row;
}
.buttonLeft{
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.buttonRight{
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.toggledButton{
  color: colors.$success;
}
.toggledButton:hover{
  cursor: pointer;
  background: white;
  color: colors.$success;
  transition: 0.6s;
}


.button{
  height: 50px;
  font-size: 24px;
  border: 1px solid white;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
}

.noToggledButton{
  color: white;
}
.noToggledButton:hover{
  transition: 0.6s;
  cursor: pointer;
  background: white;
  color: colors.$primary
}

