
.listDesktop{
    display: grid;
    grid-template-columns: 200px 200px 200px 200px 200px;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px 50px;
    grid-auto-flow: row;
}

.listTablet{
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px 60px;
    grid-auto-flow: row;
}

.listMobile{
    display: grid;
    grid-template-columns: 150px 150px;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px 40px;
    grid-auto-flow: row;

}
