@use "src/assets/styles/colors";
.wrapper{
  display: flex;
  margin: 15px 0;
  position: relative;
}
.photo{
  width: 240px;
  margin-right: 8px;
  height: 240px;
  border-radius: 16px;
}

.info_container_desktop{
  background: white;
  box-sizing: border-box;
  width: 100%;
  border-radius: 16px;
  padding: 24px;
  height: 240px;
}

.info_container_mobile{
  background: white;
  box-sizing: border-box;
  width: 100%;
  border-radius: 16px;
  padding: 16px;
  height: 200px;
}

.status{
  position: absolute;
  top: 15px;
  right: 30px;
}

.actionsButton{
  display: flex;
  position: absolute;
  right: 25px;
  bottom: 18px;
}

.info_field_desktop{
  margin-bottom: 13px;
  display: flex;
}


.info_field_mobile{
  margin-bottom: 6px;
  display: flex;
}

.actions{
  position: relative;
}
.actions:hover{
  :last-child{
    display: block;
    opacity: 1;
  }
}

.actionsContainer{
  display: none;
  position: absolute;
  z-index: 100;
  right: 0;
  opacity: 0;
  top: 38px;
  width: 150px;
  border: 2px solid colors.$brand;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
.first_button{
  text-align: left;
  border-top-left-radius: 12px;
  border: none;
  border-bottom: 1px solid colors.$primary;
  width: 150px;
  padding: 10px 20px;
}

.first_button:hover{
  background: #D9D9D9;
}
.button:hover{
  background: #D9D9D9;
}

.button:disabled{
  background: #414141;
}
.button:disabled:hover{
  background: #414141;
}

.last_button:hover{
   background: #D9D9D9;
 }

.button{
  text-align: left;
  border: none;
  border-bottom: 1px solid colors.$primary;
  width: 150px;
  padding: 10px 20px;
}
.last_button{
  text-align: left;
  color: colors.$error;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border: none;
  width: 150px;
  padding: 10px 20px;
}