.containerDesktop{
  margin: auto;
  width: 1344px;
}
.containerTablet{
  margin: auto;
  width: 772px;
}
.containerMobile{
  margin: auto;
  width: 340px;
}

.variants{

  overflow-y: scroll;
  position: relative;
  padding: 0 20px 0 0 ;
  height: 459px;
  /* Customize scrollbar */

}
.variants::-webkit-scrollbar-thumb {
   background-color: #58b3f6;
   border-radius: 5px;
 }

.variants::-moz-viewport-scroll {
  width: 5px;
  height: 10px;
  background: none;
  margin-left: 20px;
  border-radius: 5px;
}
.variants::-webkit-scrollbar-button {
  width: 5px;
  height: 10px;
  margin-left: 20px;
  background: none;
  border-radius: 5px;
}
.variants::-webkit-scrollbar {
  width: 5px;
  margin-left: 20px;
  height: 10px;
  background: none;

  border-radius: 5px;
}

.actionsContainer_mobile{
  position: relative;
  display: flex;
  justify-content: end;
}
.actionsContainer_mobile:hover{
  :last-child{
    display: flex;
    flex-direction: column;
  }
}
.dropdown_mobile{
  display: none;
  width: 120px;
  border-radius: 13px;
  border: 1px solid black;
  position: absolute;
  top: 42px;
  right: 0;
  z-index: 120;
}