@use "src/assets/styles/colors";
.wrapper{
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background-color: #7E777771;
}
.layout{
  z-index: 100;
  position: relative;
  box-sizing: border-box;
  min-width: 380px;
  border-radius: 16px;
  background-color: white;
  border: 2px solid colors.$primary;

}
.layoutMobile{
  position: relative;
  box-sizing: border-box;
  min-width: 320px;
  border-radius: 16px;
  background-color: white;
  border: 2px solid colors.$primary;

}