@use "src/assets/styles/colors";
.actions{
  position: relative;
  /*:last-child{
    opacity: 0;
  }*/
}
.actions:hover{
  :last-child{
    display: block;
    transition: 1s;
    opacity: 1;
  }
}
.actionsContainer{
  opacity: 0;
  display: none;
  position: absolute;
  z-index: 100;
  right: 0;
  top: 38px;
  width: 150px;
  border: 2px solid colors.$brand;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
.first_button{
  text-align: left;
  border-top-left-radius: 12px;
  border: none;
  border-bottom: 1px solid colors.$primary;
  width: 150px;
  padding: 10px 20px;
}
.first_button:hover{
  background: #D9D9D9;
}
.button:hover{
  background: #D9D9D9;
}
.last_button:hover{
  background: #D9D9D9;
}

.button{
  text-align: left;
  border: none;
  border-bottom: 1px solid colors.$primary;
  width: 150px;
  padding: 10px 20px;
}
.last_button{
  text-align: left;
  color: colors.$error;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border: none;
  width: 150px;
  padding: 10px 20px;
}