.title{
  font-size: 24px;
  text-align: center;
  margin: 0;
}
.actions{
  margin-top: 36px;
  display: flex;
  justify-content: space-between;
}
.buttonSublink{
  background: none;
  border: none;
  margin-left: 16px;
}
.textSublink{
  font-size: 14px;
}