@use "src/assets/styles/colors";
.button{
  border: none;
  &__rounded{
    &_lg{
      border-radius: 24px
    }
    &_md{
      border-radius: 16px
    }
    &_sm{
      border-radius: 12px
    }
  }

.icon{
  margin-left: 7px;
}
  &_text{
    &__white{
      color: #fff;
    }
    &__black{
      color: #000;
    }
  }


  &__success{
    border: 2px solid colors.$success;
    background:none;
  }
  &__green:hover{
    transition: 0.1s;
    background: colors.$success;
    border: 2px solid  #fff;
  }

  &__primary{
    background:none;
    border: 2px solid  colors.$primary;
  }
  &__primary:hover{
    transition: 0.1s;
    background: colors.$primary;
    border: 2px solid  #fff;
  }

  &__white{
    background:none;
    border: 2px solid  white;
  }
  &__white:hover{
    transition: 0.1s;
    color: colors.$primary;
    background: white;

  }


  &__lg{
    font-size: 20px;
    padding: 28px 64px;
  }
  &__md{
    font-size: 16px;
    padding: 19px 42px;
  }
  &__sm{
    padding: 10px;
  }
}