@use "src/assets/styles/colors";
.button{
  box-sizing: border-box;
  border: none;
  &__rounded{
    &_lg{
      border-radius: 32px
    }
    &_md{
      border-radius: 24px
    }
    &_sm{
      border-radius: 12px
    }
  }

  &_text{
    &__white{
      color: #fff;
    }
    &__black{
      color: #000;
    }
    &__error{
      color: colors.$error;
    }
    &__warning{
      color: colors.$warning;
    }
    &__secondary{
      color: colors.$secondary;
    }
    &__success{
      color: colors.$success;
    }
  }


  &__success{
    border: 2px solid colors.$success;
    background:none;
  }
  &__success:hover{
    transition: 0.1s;
    background: colors.$success;
    border: 2px solid  #fff;
    color: white;
  }

  &__warning{
    border: 2px solid colors.$warning;
    background:none;
  }
  &__warning:hover{
    transition: 0.1s;
    color: white;
    background: colors.$warning;
    border: 2px solid  #fff;
  }

  &__error{
    border: 2px solid colors.$error;
    background:none;
  }
  &__error:hover{
    transition: 0.1s;
    color: white;
    background: colors.$error;
    border: 2px solid  #fff;
  }

  &__primary{
    background:none;
    border: 2px solid  colors.$primary;
  }
  &__primary:hover{
    transition: 0.1s;
    background: colors.$primary;
    border: 2px solid  #fff;
  }

  &__purple{
    background:none;
    border: 2px solid  colors.$purple;
  }
  &__purple:hover{
    transition: 0.1s;
    background: colors.$purple;
    border: 2px solid  #fff;
  }

  &__secondary{
    background:none;
    border: 2px solid  colors.$secondary;
  }
  &__secondary:hover{
    transition: 0.1s;
    background: colors.$secondary;
    border: 2px solid  #fff;
    color: white;
  }

  &__white{
    background:none;
    border: 2px solid  white;
  }
  &__white:hover{
    transition: 0.1s;
    color: colors.$primary;
    background: white;

  }


  &__lg{
    font-size: 16px;
    padding: 20px 26px;
  }
  &__md_lg{
    font-size: 16px;
    padding: 16px 20px;
  }
  &__md{
    font-size: 16px;
    padding: 10px 15px;
  }
  &__sm{
    padding: 10px;
  }
}