@use "src/assets/styles/colors";
.select{
  border-radius: 12px;
  border: 2px solid colors.$success;
  color: white;
  padding: 10px;
  font-size: 20px;
  position: relative;
  display: inline-block;
  width: 235px;
}
.select:hover{
  :last-child{
    display: block;
  }
}
.menu{
  display: none;
}
.buttonsWrapper{
  display: flex;
  flex-direction: column;
  z-index: 100;
  position: absolute;
  top: 45px;
  right: 20px;
background: colors.$primary;
  border: 2px solid colors.$success;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.firstButton:hover{
  background: none;
  color: colors.$success
}
.firstButton{
  width: 200px;
  color: white;
  font-size: 20px;
  background: none;
  border: none;
  border-top-left-radius: 10px;
  text-align: left;
  padding: 12px 0px 12px 30px;
}


.button:hover{
  background: none;
  color: colors.$success;
}
.button{
  border: none;
  border-top: 2px solid #fff;
  width: 200px;
  background: none;
  color: white;
  font-size: 20px;
  text-align: left;
  padding: 12px 0 12px 30px;
}

.lastButton:hover{
  background: none;
  color: colors.$success
}
.lastButton{
  width: 200px;
  font-size: 20px;
  border: none;
  background: none;
  color: white;
  border-top: 2px solid #fff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  text-align: left;
  padding: 12px 0px 12px 30px;
}