.wrapperDesktop{
  max-width: 200px;
  display: flex;
  flex-direction: column;
}
.wrapperMobile{
  max-width: 150px;
  display: flex;
  flex-direction: column;
}

.product_photo_desktop{
  width: 200px;
  border-radius: 8px;
  height: 200px;
}

.product_photo_mobile{
  width: 150px;
  border-radius: 8px;
  height: 150px;
}


.product_title_desktop{
  display: block;
  padding: 0;
  max-width: 200px;
  font-size: 16px;
  color: white;
  text-align: center;
}