.wrapper_desktop{
  width: 1344px;
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrapper_tablet{
  width: 768px;
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrapper_mobile{
  width: 340px;
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

