.wrapperDesktop{
  max-width: 200px;
  display: flex;
  flex-direction: column;

}
.wrapperMobile{
  max-width: 150px;
  display: flex;
  flex-direction: column;
}

.product_photo_desktop{
  width: 200px;
  -webkit-user-drag: none;
  border-radius: 8px;
  height: 200px;
}


.product_photo_mobile{
  width: 150px;
  -webkit-user-drag: none;
  border-radius: 8px;
  height: 150px;
}


.product_title_desktop{
  display: block;
  padding: 3px 0 0 0;
  max-width: 200px;
  font-size: 16px;
  color: white;
  text-align: center;
}

.product_title_mobile{
  display: block;
  padding: 5px 0 0 0;
  max-width: 150px;
  font-size: 13px;
  color: white;
  text-align: center;
}

.product_title_tablet{
  display: block;
  padding: 5px 0 0 0;
  max-width: 200px;
  font-size: 18px;
  color: white;
  text-align: center;
}

.onHover{
  opacity: 0;

  width: 200px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  height: 110px;
  position: absolute;
  background: black;
  top: 90px;

}
.wrapperDesktop:hover{
  :last-child{
    opacity: 0.8;
    transition: 1s;
  }
}
.wrapperMobile:hover{
  :last-child{
    opacity: 0.8;
    transition: 1s;
  }
}