@use "src/assets/styles/colors";
.button{
  box-sizing: border-box;
  border: none;
  &__rounded{
    &_lg{
      border-radius: 24px
    }
    &_md{
      border-radius: 16px
    }
    &_sm{
      border-radius: 8px
    }
  }

  &_text{
    &__white{
      color: #fff;
    }
    &__primary{
      color: colors.$primary;
    }
    &__black{
      color: #000;
    }
  }

//TODO  Error, Warning Colors, Default
  &__success{
    background-color: colors.$success;
    border: 2px solid colors.$success;
  }
  &__success:hover{
    transition: 0.1s;
    color: white;
    border: 2px solid colors.$success;
  }

  &__secondary{
    background-color: #FCAC7D;
    border: 2px solid  #FCAC7D;
  }
  &__secondary:hover{
    color: white;
    background-color: #ad7856;
    border: 2px solid #fff;
  }

  &__purple{
    background: colors.$purple;
  }
  &__purple:hover{
    transition: 0.1s;
    background: colors.$purple;
  }

  &__error{
    background: colors.$error;
  }
  &__error:hover{
    transition: 0.1s;
    background: colors.$error;
  }

  &__primary{
    background-color: colors.$primary;
  }

  &__white{
    background: white;
  }
  &__white:hover{
    background: none;
    color: white;
    transition: 0.4s;
  }

  &__md_lg{
    font-size: 16px;
    padding: 16px 20px;
  }
  &__lg{
    font-size: 20px;
    padding: 28px 64px;
  }
  &__md{
    font-size: 16px;
    padding: 10px 15px;
  }
  &__sm{
    font-size: 16px;
    padding: 10px;
  }
}