@use "src/assets/styles/colors";
.button{
  border: none;
  &__rounded{
    &_lg{
      border-radius: 24px
    }
    &_md{
      border-radius: 16px
    }
    &_sm{
      border-radius: 12px
    }
  }

.icon{
  margin-left: 7px;
}
  &_text{
    &__white{
      color: #fff;
    }
    &__primary{
      color: colors.$primary;
    }
    &__black{
      color: #000;
    }
  }

//TODO  Error, Warning Colors, Default
  &__success{
    background-color: colors.$success;
  }
  &__success:hover{
    transition: 0.1s;
    border: 2px solid #fff;
    background-color: #a0ffa5;
  }


  &__secondary{
    background-color: #FCAC7D;
  }

  &__secondary:hover{
    color: white;
    background-color: #ad7856;
    border: 2px solid #fff;
  }

  &__primary{
    background-color: colors.$primary;
  }

  &__white{
    background: white;
  }
  &__white:hover{
    background: none;
    color: white;
    transition: 0.4s;
    border: 2px solid white;
  }


  &__lg{
    font-size: 20px;
    padding: 28px 64px;
  }
  &__md{
    font-size: 16px;
    padding: 19px 42px;
  }
  &__sm{
    font-size: 16px;
    padding: 10px;
  }
}