@use "src/assets/styles/colors";
.input{
  padding: 13px 18px;
  border-radius: 12px;
  margin-top: 28px;
  position: relative;
  box-sizing: border-box;
  border: 2px solid colors.$primary;
}

.input:focus{

}
