.wrapperDesktop{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 772px;
  height: 484px;
  background-color: white;
  border-radius: 32px;
}
.wrapperTablet{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 486px;
  height: 484px;
  background-color: white;
  border-radius: 32px;
}
.wrapperMobile{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 340px;
  height: 269px;
  background-color: white;
  border-radius: 32px;
}