@use "src/assets/styles/colors";
.buttonsWrapper{
  display: flex;
  flex-direction: column;

  position: absolute;
  top: 65px;
  right: 20px;

  border: 2px solid colors.$success;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.firstButton:hover{
  background-color: #a0ffa5;
  color: colors.$primary;
}
.firstButton{
  width: 200px;

  font-size: 20px;

  border: none;
  border-top-left-radius: 10px;
  text-align: left;
  padding: 12px 0px 12px 30px;
}


.button:hover{
  background-color: #a0ffa5;
  color: colors.$primary;
}
.button{
  border: none;
  border-top: 2px solid #F0706A80;
  width: 200px;
  font-size: 20px;
  text-align: left;
  padding: 12px 0 12px 30px;
}

.lastButton:hover{
  background-color: #a0ffa5;
  color: colors.$primary;
}
.lastButton{
  width: 200px;
  font-size: 20px;
  border: none;
  border-top: 2px solid #F0706A80;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  text-align: left;
  padding: 12px 0px 12px 30px;
}