@use "src/assets/styles/colors";

.button{
  width: 32px;
  height: 32px;
  background: none;


  border-radius: 100%;
  border: 2px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input{
  border: none;
  background: none;
  width: 100px;
  text-align: center;
  font-size: 20px;
  color: white;
}